@{
    ViewData["Title"] = "Student Page";
}


@model List<StudentModel>

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>Address 3</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.FirstName</td>
                <td>@student.Surname</td>
                <td>@student.Gender</td>
                <td>@student.DOB.ToShortDateString()</td>
                <td>@student.Address1</td>
                <td>@student.Address2</td>
                <td>@student.Address3</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.StudentId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@student.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>